@import url('https://fonts.googleapis.com/css?family=Cormorant:300,400,500,600,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant:300,400,500,600,700&display=swap');
html{
    font-size: 10px;
    overflow-x: hidden;
}
.container{
    max-width: 1170px;
    margin: auto;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Cormorant', serif;
    font-weight: 400;
}
h1{
    font-size: 6rem;
    font-weight: 700;
    text-shadow: 1px -1px 3px black;
    color: #bebebe;
}
h2{
    font-family: 'Cormorant Infant', serif;
    font-style: italic;
    font-size: 6rem;
    font-weight: 400;
    text-shadow: 1px -1px 1px black;
    color: #732871;
}
h3{
    font-size: 2.8rem;
}
p{
    font-size: 2.3rem;
}
li{
    list-style: none;
}
a,
a:hover{
    text-decoration: none;
}
/*#header*/
#header{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-main{
    display: flex;
    justify-content: space-between;
}
.header-main__logo{
    position: relative;
}
.header-main__logo img{
    position: absolute;
    border-radius: 50%;
}
.header-main__logo img:hover{
    opacity: 0.7;
}
.sidenav a{
    color: #e9e9e9;
    font-weight: bold;
}
.sidenav a:hover{
    color: #bebebe;
}
.service-button > a,
.price-button,
.header-info__link a{
    background: #995797;
    color: #e9e9e9;
    text-transform: uppercase;
    text-shadow: 1px -1px 3px black;
    font-weight: 700;
}
.service-button > a:hover,
.price-button:hover,
.header-info__link a:hover{
    color: #bebebe;
    text-shadow: 1px -1px 3px black;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    background: linear-gradient(75deg, #B281B1 0%, #995797 25%, #802d7e 50%, #732871 75%, #591F58 100%);
    font-weight: 700;
}

/*#service*/
#service,
#price,
#news{
    text-align: center;
    padding-bottom: 120px;
}
.border-group{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#service .border-group__line,
#price .border-group__line,
#information .border-group__line,
#news .border-group__line{
    border-bottom: 2px solid #591F58;
}
#service .square,
#price .square,
#information .square,
#news .square{
    position: absolute;
    margin: auto;
    top: -15px;
    width: 30px;
    height: 30px;
    background: #591F58;
    transform: rotate(45deg); 
}
.service-text,
.price-text,
.information-text,
.service-item__text{
    color: #802d7e;
    font-weight: bold;
}
.service-items__group,
.price-items__group{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.service-item,
.price-item{
    border: 5px solid transperent;
}
.service-item__title{
    font-family: 'Cormorant', serif;
    font-weight: bald;
    color: #e1cdcd;
    background: #591F58;
    border: 5px solid #591F58;
}
.service-item__text{
    position: relative;
    border-left: 5px solid #bebebe;
    border-right: 5px solid #bebebe;
    border-bottom: 5px solid #bebebe;
}
.service-item__text:hover{
    border-left: 5px solid #591F58;
    border-right: 5px solid #591F58;
    border-bottom: 5px solid #591F58;
}
.service-item__link{
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #591F58;
}
.fa-arrow-right{
    padding-left: 10px;
    color: #995797;
}
.service-item__link:hover,
.price-button:hover,
.fa-arrow-right:hover,
.news-item__text-link > a:hover{
    color: #a9a9a9;
    font-weight: bold;
}

/*#about*/
#about{
    position: relative;
    width: 100%;
    background: #591F58;
    margin: 0 auto;
    text-align: center;
}
.about-block{
    display: flex;
    justify-content: center;
}
.about-block__info{
    width: 100%;
}
#about .border-group__line{
    border-bottom: 2px solid #e1cdcd;
}
about-block__image-md{
    display: none;
}
#about .square{
    position: absolute;
    margin: auto;
    top: -15px;
    width: 30px;
    height: 30px;
    background: #e1cdcd;
    transform: rotate(45deg); 
}
.about-block__info-title{
    color: #e1cdcd;
}
.about-block__info-description{
    color: #e1cdcd;
    font-style: italic;
    font-weight: 700;
}
.about-block__info-text{
    color: #e1cdcd;
    font-weight: 500;
}

/*information*/
#information{
    text-align: center;
}
#information h3,
.news-title{
    font-family: 'Cormorant Infant', serif;
    font-weight: 600;
    text-shadow: 1px -1px 1px black;
    color: #732871;
}
.information-items__group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#information .number{
    font-family: 'Cormorant Infant', serif;
    font-style: italic;
    font-weight: 600;
    text-shadow: 1px -1px 1px black;
    color: #732871;
}
.information-item__title{
    font-family: 'Cormorant Infant', serif;
    font-weight: 500;
    color: #732871;
}
/*gallery*/
#gallery{
    position: relative;
    background-image: linear-gradient(hsl(304, 64%, 78%), hsl(304, 64%, 78%)),
    linear-gradient(hsl(302, 80%, 31%), hsl(302, 80%, 31%)),
    url(../img/flower-fon.jpg);
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery-title{
    color: #591F58;
    font-family: 'Cormorant Infant', serif;
    font-style: italic;
    font-weight: 700;
    text-align: left;
}
/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
} 
/* Hide the images by default */
.mySlides {
    display: none;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 53%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #732871;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-weight: bold;
    position: absolute;
    color: black;
}
/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}
  
  /* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}
.active,
.demo:hover {
    opacity: 1;
}
.slide-image img{
    height: 100px;
}

/*#response*/
#response{
    position: relative;
    background-image: url(../img/response-fon.png);
}
.slider-item{
    text-align: center;
    font-family: 'Cormorant Infant', serif;
    font-weight: 500;
    color: #e1cdcd;
    position: relative;
    outline: none;
}
.slick-prev,
.slick-next{
    position: absolute;
}
#response .fa-arrow-right,
#response .fa-arrow-left{
    color: #e1cdcd;
    background: #844e8d;
}
#response .fa-arrow-right:hover,
#response .fa-arrow-left:hover{
    background: #e1cdcd;
    color: #844e8d;
}

/*#price*/
.price-item{
    display: flex;
    flex-direction: column;
    border: 5px solid #bebebe;
    position: relative;
}
.price-item:hover{
    border: 5px solid #591F58;
}
.price-item__title{
    color: #591F58;
    font-weight: 600;
}
.price-item__text{
    color: #802d7e;
    font-weight: bold;
}
/*.price-button > a{
    position: absolute;
    margin: 0 auto;
    top: 92%;
}*/
.price-item__amount{
    font-family: 'Cormorant Infant', serif;
    font-style: italic;
    font-size: 3.5rem;
    font-weight: 400;
    text-shadow: 1px -1px 1px black;
    color: #732871;
}
.price-button{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}

/*#info*/
#info{
    background-image: url(../img/info-fon.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.info-group{
    display: flex;
    flex-direction: column;
}
.info-title{
    color: #e1cdcd;
    font-family: 'Cormorant Infant', serif;
    font-weight: 700;
    text-shadow: 1px -1px 1px black;
}
.info-text{
    color: #e1cdcd;
    font-weight: 600;
    text-shadow: 1px -1px 1px #732871;
}
.info-btn{
    background: #61065e;
    color: #e9e9e9;
    text-transform: uppercase;
    text-shadow: 1px -1px 3px black;
    font-weight: 700;
}
.info-btn:hover{
    color: #bebebe;
    text-shadow: 1px -1px 3px black;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    background: linear-gradient(75deg, #a90aa4 0%, #790775 25%, #61065e 50%, #490547 75%, #31032f 100%);
    font-weight: 700;
}
/*#news*/
.news-item{
    text-align: left;
    padding: 30px 25px;
    border: 1px solid #732871;
    position: relative;
}
.news-item__link{
    font-family: 'Cormorant Infant', serif;
    font-weight: 700;
    color: #732871;
}
.news-item__link:hover{
    color: #a90aa4;
}
.fa-arrow-down{
    background: #732871;
    color: white;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    right: 25px;
    top: 25px;
}
.fa-arrow-down:hover{
    background: linear-gradient(75deg, #a90aa4 0%, #790775 25%, #61065e 50%, #490547 75%, #31032f 100%);;
}
.news-item__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.news-item__wrapper-column{
    display: flex;
    flex-direction: column;
}
.news-item__wrapper-text{
    text-align: justify;
    padding-bottom: 30px;
}
.news-item__wrapper-text p{
    font-weight: 400;
    color: #490547;
}
.news-item__wrapper-data{
    font-family: 'Cormorant Infant', serif;
    font-weight: 300;
    color: #732871;
    font-style: italic;
}
.news-item__wrapper-img img{
    border: 1px solid #591F58;
}
.news-item__text-link > a{
    text-transform: uppercase;
    font-weight: bold;
    color: #995797;
}
/*#footer*/
.footer-contacts{
    background-image: url(../img/footer.png);
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}
.footer-contacts:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
    z-index: 2;
}
.footer-contacts__wrapper {
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
    padding: 50px;  
  }