@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /*header*/
    .container{
        margin: 0 20px;
    }
    .header-main__logo img{
        top: 50px;
        left: 0;
        max-width: 200px;
    }
    .closebtn,
    span{
        display: none;
    }
    .sidenav{
        margin-top: 140px;
        display: inline-block;
    }
    .sidenav a{
        font-size: 2.3rem;
        padding: 10px 15px 10px 15px;
    }
    .sidenav a:hover{
        color: #bebebe;
    }
    .sidenav a:last-child{
        margin-right: 0;
    }
    .header-info{
        padding-top: 120px;
    }
    .header-info__link{
        text-align: left;
        margin-top: 70px;
    }
    .service-button > a,
    .price-button,
    .header-info__link a{
        padding: 15px 50px;
        font-size: 2rem;
        word-spacing: 5px;
    }

/*#service*/
.service-title,
.price-title,
.information-title{
    padding: 50px 0 40px 0;
}
.border-group__line{
    width: 150px;
    margin: 0 50px;
}
.service-text,
.price-text,
.information-text{
    padding-top: 40px;
}
.service-items__group,
.price-items__group{
    padding-top: 40px;
}
.service-item,
.price-item{
    max-width: 350px;
    margin: 30px;
}
.service-item__title{
    height: 150px;
    padding: 40px 15px;
}
.service-item__text{
    padding: 40px 15px;
    height: 220px;
}
.service-button{
    margin-top: 50px;
}

/*#about*/
.about-block__image{
    background-image: url(../img/about-fon-xl.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100%;
}
.about-block__info{
    padding: 30px 20px;
}
.about-block__info-title{
    font-size: 4rem;
    padding: 50px 0;
}
.about-block__info-description{
    font-size: 2.6rem;
    padding: 50px 20px;
}
.about-block__info-text{
    font-size: 2.2rem;
    padding: 0 30px 20px 50px;
}

/*information*/
#information{
    padding: 50px 0 120px 0;
}
#information h3{
    font-size: 6rem;
}
.information-items__group{
    padding-top: 50px;
}
#information .number{
    font-size: 6rem;
}
.information-item__title{
    font-size: 3rem;
}

/*gallery*/
#gallery{
    padding-bottom: 200px;
}
.gallery-title{
    font-size: 6rem;
    padding: 50px 0;
}
.numbertext {
    font-size: 1.8rem;
    padding: 8px 12px;
    top: 20%;
}
.slide-image img{
    height: 100px;
}
.mySlides img{
    height: 550px;
}

/*#response*/
#response{
    min-height: 650px;
    padding: 0 30px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-item{
    padding-top: 230px;
    min-width: 400px;
    font-size: 2.5rem;
    margin: 0 120px;
}
.slider-autor{
    margin: 20px 0;
}
.slick-prev,
.slick-next{
    top: 65%;
}
.slick-prev{
    left: -20px;
}
.slick-next{
    right: -20px;
}
#response .fa-arrow-right,
#response .fa-arrow-left{
    padding: 10px;
    font-size: 2rem;
}

/*#response*/
#response{
    min-height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 30px;
}
.slider-item{
    padding-top: 230px;
    min-width: 450px;
    font-size: 2.5rem;
    margin: 0 120px;
}
.slider-autor{
    margin: 20px 0;
}
#response .slick-prev,
#response .slick-next{
    top: 65%;
}
#response .slick-prev{
    left: -20px;
}
#response .slick-next{
    right: -20px;
}
#response .fa-arrow-right,
#response .fa-arrow-left{
    padding: 10px;
    font-size: 2rem;
}
/*#price*/
.price-item{
    min-height: 420px;
    width: 350px;
}
.price-item img{
    width: 200px;
    height: 80px;
    margin: 20px 0 0 0;
}
.price-item__img{
    height: 100px;
}
.price-item__title,
.price-item__text,
.price-button{
    height: 80px;
}
.price-item__amount{
    height: 80px;
}
}