@media only screen and (min-width: 769px) and (max-width: 992px) and (orientation: landscape) {
    /*header*/
    .container{
        margin: 0 20px;
    }
    h1{
        font-size: 5rem;
    }
    .header-main__logo img{
        top: 50px;
        left: 0;
        max-width: 135px;
    }
    .closebtn,
    span{
        display: none;
    }
    .sidenav{
        margin-top: 100px;
        display: inline-block;
    }
    .sidenav a{
        font-size: 2rem;
        padding: 10px 10px 10px 10px;
    }
    .sidenav a:hover{
        color: #bebebe;
    }
    .sidenav a:last-child{
        margin-right: 0;
    }
    .header-info{
        text-align: center;
        padding-top: 25%;
    }
    .header-info__link{
        text-align: center;
        margin-top: 100px;
    }
    .service-button > a,
    .price-button,
    .info-btn,
    .header-info__link a{
        padding: 15px 50px;
        font-size: 2rem;
        word-spacing: 5px;
    }

/*#service*/
#service,
#price{
    height: auto;
}
.service-title,
.price-title{
    padding: 50px 0 40px 0;
}
.border-group__line{
    width: 150px;
    margin: 0 50px;
}
.service-text,
.price-text,
.information-text{
    padding-top: 40px;
}
.service-items__group,
.price-items__group{
    justify-content: center;
    padding-top: 40px;
    flex-wrap: wrap;
}
.service-item,
.price-item{
    max-width: 400px;
    margin: 30px;
}
.service-item__title{
    height: 150px;
    padding: 40px 15px;
}
.service-item__text{
    padding: 40px 15px;
    height: 180px;
}
.service-button{
    margin-top: 50px;
}
/*#about*/
#about{
    padding-bottom: 120px;
}
.about-block__image{
    display: none;
}
.about-block__image-md{
    background-image: url(../img/about-fon-md.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 100%;
}
.about-block__info{
    padding: 30px 20px;
}
.about-block__info-title{
    font-size: 4rem;
    padding: 50px 0;
}
.about-block__info-description{
    font-size: 2.6rem;
    padding: 50px 20px;
}
.about-block__info-text{
    padding: 0 30px 20px 50px;
}
/*information*/
#information{
    padding: 50px 0 80px 0;
}
#information h3{
    font-size: 5rem;
    padding-bottom: 40px;
}
.information-items__group{
    padding-top: 50px;
}
#information .number{
    font-size: 5rem;
}
.information-item__title{
    font-size: 2.5rem;
}
.information-text{
    padding-top: 50px;
}

/*gallery*/
#gallery{
    padding-bottom: 120px;
}
.gallery-title{
    font-size: 5rem;
    padding: 30px 0;
}
.numbertext {
    font-size: 1.8rem;
    padding: 8px 12px;
    top: 20%;
}
.slide-image img{
    height: 80px;
}
.mySlides img{
    height: 450px;
}

/*#response*/
#response{
    min-height: 600px;
    padding: 0 30px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-item{
    padding-top: 180px;
    min-width: 400px;
    font-size: 2.5rem;
    margin: 0 120px;
}
.slider-autor{
    margin: 20px 0;
}
.slick-prev,
.slick-next{
    top: 55%;
}
.slick-prev{
    left: -20px;
}
.slick-next{
    right: -20px;
}
#response .fa-arrow-right,
#response .fa-arrow-left{
    padding: 10px;
    font-size: 2rem;
}
/*#price*/
.price-item{
    min-height: 400px;
    width: 350px;
}
.price-item{
    min-height: 440px;
    width: 350px;
}
.price-item img{
    width: 200px;
    height: 80px;
    margin: 20px 0 0 0;
}
.price-item__img{
    height: 120px;
}
.price-item__title,
.price-item__text,
.price-button{
    height: 80px;
}
.price-item__amount{
    height: 80px;
}
/*#info*/
#info{
    min-height: 550px;
}
.info-group{
    max-width: 450px;
}
.info-title{
    font-size: 4.5rem;
    line-height: 1.1;
    padding: 60px 0 40px 0;
}
.info-text{
    font-size: 2.5rem;
    line-height: 1;
    padding-bottom: 70px;
}
/*#news*/
#news{
    padding: 50px 0 100px 0;
}
.news-item{
    margin: 0 15px 20px 15px;
}
.news-title{
    font-size: 6rem;
    margin-bottom: 50px;
}
.news-items{
    padding-top: 80px;
}
.news-item__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    text-align: center;
}
.news-item__link{
    font-size: 3rem;
}
.news-item__wrapper-text p{
    padding-top: 20px;
    font-size: 2rem;
}
.news-item__wrapper-text a{
    margin-top: 30px;
}
.news-item__wrapper-img img{
    margin: 30px 0 0 25px;
    width: 400px;
}
.news-item__wrapper-data{
    font-size: 2rem;
    padding-top: 20px;
}
.news-item__text-link a{
    font-size: 2rem;
    margin-top: 30px;
}
/*#footer*/
.footer-contacts{
    background-image: url(../img/footer-lg.png);
    min-height: 600px;
}
.footer-contacts__wrapper{
    width: 400px;
    padding: 30px 25px 60px 25px;
    top: 50%; /*выравниваем блок по центру экрана*/
    left: 50%;
    transform: translate(-90%, -50%);
}
.footer-contacts__title h6{
    padding-bottom: 20px;
}
.footer-contacts__text p{
    line-height: 1.4;
    font-size: 2rem;
}
.footer-contacts__btn{
    bottom: -10px;
    transform: translateX(20%);
    /*left: -10px;*/
}
.footer-contacts__btn a{
    padding: 15px 30px;
    font-size: 1.8rem;
    bottom: 40px;
    word-spacing: 5px;
}
.footer-copy{
    height: 70px;
}
.footer-copy p{
    font-size: 1.6rem;
    padding-top: 25px;
}
}
@media all and (max-width: 420px){
    .mySlides img{
        height: 420px;
    }
}