@media only screen and (min-width: 769px) and (max-width: 992px) and (orientation: landscape) {
    /*header*/
    .container{
        margin: 0 20px;
    }
    h1{
        font-size: 5rem;
    }
    .header-main__logo img{
        top: 50px;
        left: 0;
        max-width: 150px;
    }
    .closebtn,
    span{
        display: none;
    }
    .sidenav{
        margin-top: 100px;
        display: inline-block;
    }
    .sidenav a{
        font-size: 2.2rem;
        padding: 10px 10px 10px 10px;
        margin-right: 20px;
    }
    .sidenav a:hover{
        color: #bebebe;
    }
    .sidenav a:last-child{
        margin-right: 0;
    }
    .header-info{
        text-align: center;
        padding-top: 140px;
    }
    .header-info__link{
        text-align: center;
        margin-top: 100px;
    }
    .header-info__link a{
        padding: 15px 50px;
        font-size: 2rem;
        word-spacing: 5px;
    }

/*#service*/
#service{
    height: auto;
}
.service-title{
    padding: 50px 0 40px 0;
}
.border-group__line{
    width: 150px;
    margin: 0 50px;
}
.service-text{
    padding-top: 40px;
}
.service-items__group{
    justify-content: center;
    padding-top: 40px;
    flex-wrap: wrap;
}
.service-item{
    max-width: 400px;
    margin: 30px;
}
.service-item__title{
    height: 150px;
    padding: 40px 15px;
}
.service-item__text{
    padding: 40px 15px;
    height: 180px;
}
}