@media all and (max-width: 769px) {
    /*header*/
    .container{
        margin: 0 20px;
    }
    h1{
        font-size: 4rem;
    }
    #header{
        background-image: url(../img/header-bg-sm.png);
    }
    .header-main__logo img{
        top: 20px;
        left: 0;
        max-width: 150px;
    }
    .header-main__menu span,
    .header-main__menu span::before,
    .header-main__menu span::after {
        display: block;
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: #995797;
    }
    .header-main__menu span::before {
        content: '';
        top: 10px;
    }
    .header-main__menu span::after {
        content: '';
        top: -10px;
    }
    #menu-name{
        position: absolute;
        top: 50px;
        right: 20px;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0; 
        left: 0;
        background-color: #111;
        overflow-x: hidden; 
        padding-top: 60px; 
        transition: 0.5s; 
    }
    .sidenav a {
        padding: 15px 8px 15px 8px;
        text-align: center;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .sidenav a:hover,
    .sidenav a:active {
        color: #995797;
    }
    .sidenav .closebtn {
        position: absolute;
        top: -20px;
        right: 20px;
        font-size: 76px;
        margin-left: 50px;
        color: #995797;
    }
    .header-info {
        transition: margin-left .5s;
        padding: 20px;
    }
    .header-info{
        text-align: center;
        padding-top: 45%;
    }
    .header-info__title > h1 {
        font-size: 5rem;
    }
    .header-info__link{
        text-align: center;
        margin-top: 70px;
    }
    .header-info__link a{
        padding: 15px 30px;
        font-size: 2rem;
        word-spacing: 5px;
    }

/*#service*/
#service{
    height: auto;
    padding-bottom: 60px;
}
h2{
    font-size: 4rem;
}
.service-title{
    padding: 50px 0 40px 0;
}
.border-group__line{
    width: 150px;
    margin: 0 50px;
}
.service-text,
.information-text{
    padding-top: 40px;
}
.service-items__group{
    justify-content: center;
    padding-top: 40px;
    flex-wrap: wrap;
}
.service-item{
    max-width: 400px;
    margin: 30px;
}
.service-item__title{
    height: 150px;
    padding: 40px 15px;
}
.service-item__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
    height: 240px;
    font-size: 1.8rem;
}
.service-item__link{
    bottom: 30px;
}
.about-block__image{
    display: none;
}
.about-block__image-md{
    background-image: url(../img/about-fon-md.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 100%;
}
.about-block__info{
    padding: 30px 20px;
}
.about-block__info-title{
    font-size: 4rem;
    padding: 50px 0;
}
.about-block__info-description{
    font-size: 2.3rem;
    padding: 50px 20px;
}
.about-block__info-text{
    padding: 0 30px 50px 30px;
}
/*information*/
#information{
    padding: 50px 0 40px 0;
}
#information h3{
    font-size: 4rem;
    padding-bottom: 40px;
}
.information-items__group{
    padding-top: 40px;
    flex-direction: column;
}
#information .number{
    font-size: 4rem;
    padding-top: 35px;
}
.information-item__title{
    font-size: 2.2rem;
}
.information-text{
    padding-top: 40px;
}
.information-item{
    border: 1px solid #732871;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 15px auto;
}
/*gallery*/
#gallery{
    padding-bottom: 80px;
}
.gallery-title{
    font-size: 4rem;
    padding: 30px 0;
}
.numbertext {
    font-size: 1.8rem;
    padding: 8px 12px;
    top: 30%;
}
.prev,
.next{
    top: 58%;
}
.slide-image img{
    height: 60px;
}
.mySlides img{
    height: 180px;
}
}

@media all and (max-width: 400px) {
    .container{
        margin: 0 10px;
    }
    .header-info{
        text-align: center;
        padding-top: 270px;
    }
    .header-info__title > h1 {
        font-size: 3.5rem;
    }
    .header-info__link a{
        padding: 15px 30px;
        font-size: 1.6rem;
    }
    .service-item__text {
        padding: 30px 15px;
        height: 200px;
    }
/*#about*/
.about-block__image{
    display: none;
}
.about-block__image-md{
    background-image: url(../img/about-fon-md.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    width: 100%;
}
.about-block__info{
    padding: 30px 20px;
}
.about-block__info-title{
    font-size: 4rem;
    padding: 50px 0;
}
.about-block__info-description{
    font-size: 2.3rem;
    padding: 50px 20px;
}
.about-block__info-text{
    font-size: 2rem;
    padding: 0 30px 20px 30px;
}
/*#information*/
.information-item{
    border: 1px solid #732871;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 15px auto;
}
/*gallery*/
#gallery{
    padding-bottom: 80px;
}
.gallery-title{
    font-size: 4rem;
    padding: 30px 0;
}
.numbertext {
    font-size: 1.8rem;
    padding: 8px 12px;
    top: 35%;
}
.prev,
.next{
    top: 58%;
}
.slide-image img{
    height: 50px;
}
.mySlides img{
    height: 180px;
}
}